<!DOCTYPE html>
<html{{#if cancontinue}} class="party"{{/if}}>
<head>
<title>{{title}}</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
{{{body}}}
<script src="javascripts/zepto.min.js"></script>
<script src="javascripts/app.js"></script>
</body>
</html>
